form.dashboard-form > div.form {
  background-color: var(--body-color);
  padding: 30px;
  box-shadow: var(--box-shadow);
  margin-bottom: 40px;
  border-radius: 6px;
}
form.dashboard-form > div.form h1 {
  color: var(--font-color);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 27px;
}
form.dashboard-form > div.form > div {
  gap: 30px;
}
form.dashboard-form > div.form > div label {
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--font-color);
  cursor: text;
  width: fit-content;
}
form.dashboard-form > div.form > div span {
  color: var(--font-color);
  margin-top: 10px;
  padding: 10px;
  background: var(--aside-color);
  text-align: center;
  border-radius: 4px;
  text-transform: capitalize;
  display: block;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
form.dashboard-form > div.form > div span:hover {
  color: white;
  background-color: var(--main-color);
}
form.dashboard-form > div.form > div .flex-direction {
  flex: 1;
  min-width: 300px;
}

form.dashboard-form > div.form > div .flex-direction .inp {
  border: none;
  padding: 10px;
  font-size: 18px;
  color: var(--font-color);
  width: 100%;
  border-radius: 4px;
  background-color: var(--aside-color);
}
form.dashboard-form > div.form > div .flex-direction .inp:focus {
  background-color: var(--section-color);
}

.selecte .inp {
  color: #777;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  padding-right: 20px;
}
.selecte .inp::before {
  position: absolute;
  content: "\f078";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  right: 10px;
  top: 50%;
  font-size: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
body.arabic .selecte .inp::before {
  left: 10px;
  right: auto;
}
.selecte > article {
  background-color: var(--body-color);
  box-shadow: var(--box-shadow);
  position: absolute;
  width: 100%;
  padding: 10px 15px;
  top: 140%;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  max-height: 300px;
  overflow-y: auto;
  text-align: center;
}

.selecte .inp.active + article {
  transition: opacity 0.4s;
  opacity: 1;
  z-index: 2;
  pointer-events: all;
  top: 110%;
}
div.form .selecte > article input {
  padding: 8px;
  font-size: 15px;
  width: 100%;
  border: none;
  background: var(--aside-color);
  border-radius: 4px;
  color: var(--font-color);
  position: sticky;
  top: 0;
}

.selecte > article h2 {
  color: var(--font-color);
  text-transform: capitalize;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
}

div.form .selecte > article h2 {
  margin: 0;
  padding: 5px;
}
div.form .selecte > article p {
  color: var(--font-color);
  margin-top: 10px;
  text-transform: capitalize;
}
div.form .selecte > article h2:not(:last-of-type) {
  border-bottom: solid 1px var(--border-color);
}

.selecte > article h2:hover {
  background-color: var(--section-color);
}
form.dashboard-form > button.btn {
  width: 50%;
  font-size: 20px;
}
div.form div.selceted-itms {
  margin-top: 10px;
  gap: 10px;
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 10px;
}

div.form div.selceted-itms > span {
  padding: 6px;
  border-radius: 4px;
  text-transform: capitalize;
  background-color: var(--section-color);
  color: var(--font-color);
  cursor: pointer;
  font-weight: bold;
}
div.form div.selceted-itms > span:hover {
  background-color: var(--main-color);
  color: white;
}

form div.form-profile.form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
form div.form-profile.form input {
  display: none;
}
form div.form-profile.form label {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background: var(--section-color);
  box-shadow: var(--box-shadow);
}
form div.form-profile.form .cencel {
  color: white;
  width: 50%;
  text-align: center;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}
form div.form-profile.form label i {
  width: 100%;
  height: 100%;
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
form div.form-profile.form label img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form.addresses {
  background-color: var(--body-color);
  padding: 30px 20px;
  border-radius: 4px;
  flex: 1;
  max-width: 350px;
  box-shadow: var(--box-shadow);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
form.addresses h1 {
  color: var(--font-color);
  font-weight: 500;
  text-transform: capitalize;
  font-size: 25px;
  text-align: center;
}
form.addresses label {
  cursor: text;
  text-transform: capitalize;
  font-size: 17px;
  width: fit-content;
  display: block;
  color: var(--font-color);
}
form.addresses label::after {
  content: ":";
}
form.addresses .inp {
  background-color: var(--section-color);
  border: solid 1px var(--border-color);
  padding: 8px;
  font-size: 14px;
  width: 100%;
  border-radius: 4px;
  caret-color: var(--main-color);
  color: var(--font-color);
  outline: none;
}
form.addresses .select .inp {
  cursor: pointer;
  text-transform: capitalize;
}
form.addresses .select > article {
  position: absolute;
  width: 100%;
  background: var(--body-color);
  z-index: 2;
  top: calc(100% + 6px);
  opacity: 0;
  pointer-events: none;
  box-shadow: var(--box-shadow);
  max-height: 150px;
  overflow-y: auto;
}
form.addresses .select .inp.active + article {
  top: calc(100% + 2px);
  opacity: 1;
  pointer-events: all;
}

form.addresses .select > article h2 {
  border-bottom: 1px solid var(--body-color);
  background-color: var(--aside-color);
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  color: var(--font-color);
  text-align: center;
  text-transform: capitalize;
}
form.addresses .select > article p {
  border-bottom: 1px solid var(--body-color);
  background-color: var(--aside-color);
  padding: 5px;
  font-size: 16px;
  color: var(--font-color);
  text-align: center;
  text-transform: capitalize;
}
form.addresses .select > article h2:hover {
  background-color: var(--body-color);
}

form.addresses button.btn {
  font-size: 18px;
}

form.dashboard-form .cordinates h3 {
  margin: 10px 0;
  text-transform: capitalize;
}
form.dashboard-form .cordinates h2 {
  text-transform: capitalize;
}

@media (max-width: 1060px) {
  form.addresses {
    gap: 10px;
  }
  form.addresses h1 {
    font-size: 20px;
  }
  form.addresses label {
    font-size: 15px;
  }
  form.addresses .inp {
    font-size: 13px;
  }
  form.addresses button.btn {
    font-size: 15px;
    padding: 8px;
  }
  form.addresses .selecte > article > input {
    font-size: 12px;
  }
  form.addresses .selecte > article h2 {
    font-size: 13px !important;
    padding: 4px !important;
  }
}
@media (max-width: 960px) {
  h1.title + div.flex.align-start.gap-20.wrap {
    flex-direction: column;
  }
  form.dashboard-form .cordinates h2 {
    font-size: 22px;
  }
  form.dashboard-form .cordinates h3 {
    font-size: 17px;
  }
  h1.title + div.flex.align-start.gap-20.wrap > form,
  h1.title + div.flex.align-start.gap-20.wrap > div {
    width: 100%;
  }
  form div.form-profile.form label {
    width: 180px;
    height: 180px;
  }
  form.dashboard-form > div.form h1 {
    font-size: 24px;
  }
  form.dashboard-form > div.form > div label {
    font-size: 17px;
  }
  form.dashboard-form > div.form > div {
    gap: 20px;
  }
  form.dashboard-form > div.form > div .flex-direction .inp {
    padding: 9px;
    font-size: 16px;
  }
  form.dashboard-form > div.form > div span {
    margin-top: 5px;
    font-size: 15px;
    padding: 9px;
  }
  form.dashboard-form > button.btn {
    font-size: 18px;
  }
  .selecte > article h2,
  div.form .selecte > article p {
    font-size: 15px;
  }
  div.form .selecte > article input {
    font-size: 14px;
  }
}
@media (max-width: 660px) {
  form.addresses {
    gap: 20px;
    max-width: 100%;
  }
  form div.form-profile.form {
    width: 100%;
  }
  form div.form-profile.form label i {
    font-size: 45px;
  }
  form div.form-profile.form label {
    width: 165px;
    height: 165px;
  }
  form.dashboard-form > div.form h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  form.dashboard-form > div.form > div label {
    font-size: 15px;
    margin-bottom: 10px;
  }
  form.dashboard-form > div.form > div .flex-direction .inp {
    padding: 8px;
    font-size: 14px;
  }
  form.dashboard-form > div.form > div span {
    font-size: 14px;
  }
  form.dashboard-form > button.btn {
    font-size: 17px;
    width: 100%;
  }
  form.dashboard-form > div.form {
    margin-bottom: 30px;
    padding: 20px;
  }
  .selecte > article h2,
  div.form .selecte > article p {
    font-size: 13px;
  }
  .selecte > article {
    max-height: 230px;
  }
  div.form .selecte > article input {
    font-size: 13px;
  }
  form.dashboard-form > div.form > div .flex-direction {
    min-width: 100%;
  }
  form.dashboard-form .cordinates h2 {
    font-size: 18px;
  }
  form.dashboard-form .cordinates h3 {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  form div.form-profile.form label {
    width: 130px;
    height: 130px;
  }
  form.dashboard-form > div.form > div {
    gap: 15px;
  }
  form div.form-profile.form label i {
    font-size: 35px;
  }
  form.dashboard-form > div.form h1 {
    font-size: 17px;
  }
  form.dashboard-form > div.form > div label {
    font-size: 14px;
  }
  form.dashboard-form > div.form > div .flex-direction .inp {
    font-size: 13px;
  }
  form.dashboard-form > div.form > div span {
    font-size: 12px;
  }
  form.dashboard-form > button.btn {
    font-size: 15px;
    padding: 6px;
  }
  form.dashboard-form > div.form {
    margin-bottom: 20px;
  }

  .selecte > article h2,
  div.form .selecte > article p {
    font-size: 12px;
  }
  div.form .selecte > article input {
    font-size: 12px;
  }
  .selecte > article {
    max-height: 200px;
  }
  form.dashboard-form .cordinates h2 {
    font-size: 16px;
  }
  form.dashboard-form .cordinates h3 {
    font-size: 14px;
  }
}
