.chat-sidebar {
  position: fixed;
  background: var(--body-color);
  top: 75px;
  height: -webkit-fill-available;
  right: 0;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body.arabic .chat-sidebar {
  left: 0;
  right: auto;
}
.chat-sidebar > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-transform: capitalize;
  gap: 20px;
}
.chat-sidebar > div .sidebar-icon {
  font-size: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--font-color);
}
.chat-sidebar > div .sidebar-icon:hover {
  background-color: var(--section-color);
}
.chat-sidebar > div a {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  color: var(--font-color);
  background: var(--section-color);
}
.chat-sidebar > div a:hover {
  background: var(--aside-color);
}
.chat-sidebar > div h3 {
  color: var(--font-color);
  text-transform: capitalize;
}
.chat-sidebar > div h3::after {
  content: " : ";
}
.chat-sidebar > article {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
}

.chat-sidebar > article div {
  color: var(--font-color);
  border-radius: 7px;
  align-items: center;
  padding: 0 10px;
}

.chat-sidebar > article div:hover,
.chat-sidebar > article div:has(a.active) {
  background-color: var(--section-color);
}

.chat-sidebar > article div a {
  white-space: nowrap;
  padding: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--font-color);
  font-size: 17px;
}
.chat-sidebar > article div i {
  color: red;
  font-size: 14px;
  cursor: pointer;
  opacity: 0;
}
.chat-sidebar > article div:hover i {
  opacity: 1;
}

.ai-loading.react-loading-skeleton {
  min-height: auto;
}

.chat-sidebar.closed {
  width: 70px;
  padding: 20px 0;
  align-items: center;
}
.chat-sidebar.closed > div a {
  justify-content: center;
  width: 40px;
  height: 40px;
}
.chat-sidebar.closed > div a span {
  display: none;
}
.chat-sidebar.closed > div h3 {
  display: none;
}
.chat-sidebar.closed > article {
  display: none;
}

.chat-area {
  min-height: 100%;
  width: calc(100% - 300px);
}
.chat-area.closed {
  width: calc(100% - 70px);
}
.chat-area h1 {
  text-transform: capitalize;
  font-size: 35px;
  color: var(--font-color);
}
.chat-area h1::after {
  content: " ?";
}
.container:has(.ai-form-container) {
  padding-bottom: 0;
}
.ai-form-container {
  position: sticky;
  bottom: 0px;
  width: 100%;
  background-color: var(--section-color);
  padding-bottom: 20px;
}
.chat-area form {
  background-color: var(--body-color);
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  padding-inline: 10px;
}

.chat-area form textarea {
  flex: 1;
  border: none;
  font-size: 16px;
  padding: 15px 20px;
  background: var(--body-color);
  color: var(--font-color);
  height: 52px;
}
.chat-area form button {
  background-color: var(--section-color);
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--font-color);
}
body.arabic .chat-area form textarea {
  padding-right: auto;
  padding-left: 40px;
}
body.arabic .chat-area form button {
  right: auto;
  left: 20px;
}
body.arabic .chat-area h1::after {
  content: " ؟";
}
.messages > div {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  margin-bottom: 10px;
}
.messages > div h3 {
  margin-bottom: 10px;
  text-transform: capitalize;
}
.messages .user-msg .message-text {
  background-color: var(--body-color);
}
.messages .message-text {
  background: var(--body-color);
  color: var(--font-color);
  padding: 11px 20px;
  width: fit-content;
  max-width: 70%;
  border-radius: 16px;
  position: relative;
  font-size: 15px;
  line-height: 1.4;
}

.messages .user-msg .message-text::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  background: var(--body-color);
  bottom: 1px;
  right: 1px;
  transform: rotate(45deg) translate(50%, 50%);
  transform-origin: bottom right;
}
.messages .ai-msg .message-text {
  background-color: #426fb429;
}

.messages .ai-msg .message-text::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  background: #426fb429;
  bottom: 1px;
  left: 1px;
  transform: rotate(45deg) translate(-50%, 50%);
  transform-origin: bottom left;
}
.messages > .user-msg {
  align-items: flex-start;
}
.messages > .ai-msg {
  align-items: flex-end;
}
.messages > div h3::after {
  content: " : ";
}
.messages .message-text .copy-message {
  color: var(--font-color);
  cursor: pointer;
  display: none;
  margin-left: auto;
  width: fit-content;
}
.messages .message-text:hover .copy-message {
  display: block;
}
@media (max-width: 1000px) {
  .chat-sidebar {
    top: 60px;
    width: 240px;
  }
  .chat-sidebar > div .sidebar-icon {
    font-size: 17px;
    width: 35px;
    height: 35px;
  }
  .chat-sidebar > div a {
    font-size: 15px;
    padding: 8px;
  }
  .chat-sidebar > div h3 {
    font-size: 17px;
  }
  .chat-sidebar > article div {
    padding: 0 8px;
  }
  .chat-sidebar > article div a {
    padding: 8px 0;
    font-size: 15px;
  }
  .chat-sidebar.closed {
    width: 60px;
  }
  .chat-sidebar.closed > div a {
    width: 35px;
    height: 35px;
  }
  .chat-area {
    width: calc(100% - 240px);
  }
  .chat-area.closed {
    width: calc(100% - 60px);
  }
  .chat-area h1 {
    font-size: 30px;
  }
  .chat-area form textarea {
    font-size: 14px;
    padding: 10px;
  }
  .chat-area form button {
    width: 30px;
    font-size: 13px;
    height: 30px;
  }
}
@media (max-width: 800px) {
  .chat-sidebar {
    top: 55px;
    width: 200px;
    padding: 10px;
  }
  .chat-sidebar > div .sidebar-icon {
    font-size: 16px;
    width: 30px;
    height: 30px;
  }
  .chat-sidebar > div a {
    font-size: 13px;
  }
  .chat-sidebar > div h3 {
    font-size: 15px;
  }

  .chat-sidebar > article div a {
    font-size: 14px;
  }
  .chat-sidebar > article div i {
    font-size: 13px;
  }
  .chat-sidebar.closed {
    width: 55px;
  }
  .chat-sidebar.closed > div a {
    width: 30px;
    height: 30px;
  }
  .chat-area {
    width: calc(100% - 200px);
  }
  .chat-area.closed {
    width: calc(100% - 55px);
  }
  .chat-area h1 {
    font-size: 24px;
  }
  .chat-area form textarea {
    font-size: 13px;
    padding: 9px;
  }
  .chat-area form button {
    width: 28px;
    font-size: 12px;
    height: 28px;
  }
}
@media (max-width: 600px) {
  .chat-sidebar {
    width: 160px;
  }
  .chat-sidebar > div .sidebar-icon {
    font-size: 14px;
    width: 25px;
    height: 25px;
  }
  .chat-sidebar > div a {
    font-size: 11px;
    padding: 6px;
  }
  .chat-sidebar > div h3 {
    font-size: 13px;
  }
  .chat-sidebar > article div {
    padding: 0 6px;
  }

  .chat-sidebar > article div a {
    font-size: 13px;
    padding: 6px 0;
  }
  .chat-sidebar > article div i {
    font-size: 11px;
    opacity: 1;
  }
  .chat-sidebar.closed {
    width: 50px;
  }
  .chat-sidebar.closed > div a {
    width: 25px;
    height: 25px;
  }
  .chat-area {
    width: calc(100% - 160px);
  }
  .chat-area.closed {
    width: calc(100% - 50px);
  }
  .chat-area h1 {
    font-size: 20px;
  }
  .chat-area form textarea {
    font-size: 12px;
  }
  .messages .message-text {
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  .chat-sidebar {
    width: calc(100% - 60px);
  }
  .chat-sidebar.closed {
    width: 45px;
  }
  .chat-area {
    width: 100%;
  }
  .chat-area.closed {
    width: calc(100% - 45px);
  }
  .chat-area h1 {
    font-size: 17px;
  }
  .chat-area form textarea {
    font-size: 11px;
    padding: 8px;
  }
}
