form.dashboard-form > div.form > div .flex-direction label.document {
  border: dashed 3px var(--main-color);
  cursor: pointer;
  min-height: 90px;
  background-color: transparent;
}
form.dashboard-form > div.form > div label.document input {
  display: none;
}
form.dashboard-form > div.form > div label.document i {
  color: var(--main-color);
}
form .grid-3 > div.docments {
  flex-direction: column;
  background: var(--section-color);
  padding: 10px;
  border-radius: 4px;
  max-height: 400px;
  justify-content: space-between;
  min-width: auto;
}
form .grid-3 > div.docments img,
form .grid-3 > div.docments video {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
}

form .remove-doc {
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c70000;
  background-color: #c7000021;
  font-size: 14px;
  border: dashed 1px #c70000;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 600;
}
form .remove-doc:hover {
  color: white;
  background-color: #c70000;
}
form audio {
  width: 100%;
}
form .files {
  background-color: var(--aside-color);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
form .files img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
form .files .flex {
  padding: 10px;
}
form .files .flex h3 {
  text-transform: capitalize;
  color: var(--font-color);
}
form .files .flex h4 {
  font-weight: 500;
  color: var(--font-color);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  width: 70%;
  max-width: 1000px;
  text-align: center;
}

.modal h2 {
  margin-bottom: 10px;
}

.modal .file-content {
  max-height: 300px;
  overflow-y: auto;
  text-align: left;
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.modal button {
  padding: 10px 20px;
  background-color: #4e73df;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal button:hover {
  background-color: #3b5db2;
}

iframe {
  border: none;
}
.selected-people {
  margin-bottom: 20px;
}
.selected-people a {
  font-size: 20px;
}
.selected-people i {
  background-color: #c70000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}
.selected-people a:hover {
  text-decoration: underline;
}
