form.dashboard-form > div.form > div.question-list-container {
  gap: 10px;
  & button {
    height: 45px;
  }
}
form .question-list {
  background-color: var(--section-color);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 0 10px 10px;
  max-height: 45px;
  overflow: hidden;

  & > div {
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 18px;
    height: 45px;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    color: var(--font-color);
    & i {
      font-size: 16px;
      pointer-events: none;
    }
  }
  & article {
    background-color: var(--body-color);
    width: 100%;
    color: var(--font-color);
    max-height: 300px;
    overflow: auto;
    & > p {
      text-transform: capitalize;
      padding: 5px;
      text-align: center;
      color: var(--font-color);
    }
    & table {
      width: 100%;
      border-spacing: 0px;
      & thead th {
        border-bottom: solid 2px var(--aside-color);
        padding: 8px;
        text-transform: capitalize;
      }
      & thead th:nth-child(2) {
        border: solid 2px;
        border-color: transparent var(--aside-color) var(--aside-color);
      }
      & tbody tr:not(:last-of-type) td {
        border-bottom: solid 2px var(--aside-color);
      }
      & td {
        padding: 8px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
      }
      & td:nth-child(2) {
        border: solid 2px;
        border-color: transparent var(--aside-color);
      }
      & div i.delete {
        color: red;
      }
      & div i.update {
        color: blue;
      }
    }
  }
}
form section.question-list.show {
  max-height: 400px;

  & > div i {
    rotate: 180deg;
  }
}
form.dashboard-form > div.form .direction-revers {
  flex-direction: column;
  gap: 10px;
}

form.dashboard-form > div.form > div.question-btns {
  margin-top: 10px;
  gap: 10px;
  & button {
    color: white;
    padding: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex: 1;
    & i {
      font-size: 15px;
    }
  }
  & button.cancel {
    background-color: rgb(56, 56, 56);
  }
}

.answers {
  align-items: center;
}
.answer-container {
  & p:not(.answer-text) {
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
  }
  & .answer-text {
    background: var(--section-color);
    width: 100%;
    border-radius: 4px;
    padding: 8px;
    position: relative;
    & > i {
      cursor: pointer;
    }
    & > div {
      position: absolute;
      background-color: var(--body-color);
      display: none;
      right: 10px;
      top: 30px;
      box-shadow: var(--box-shadow);
      z-index: 2;
      & article {
        padding: 10px;
        gap: 6px;
        display: flex;
        align-items: center;
        cursor: pointer;
        & span {
          font-weight: bold;
        }
      }
      & article.delete {
        & i {
          color: red;
        }
      }
      & article.update {
        & i {
          color: blue;
        }
      }
    }
    > div.active {
      display: block;
    }
  }
  & .inp {
    border: none;
    padding: 10px;
    font-size: 18px;
    color: var(--font-color);
    width: 100%;
    border-radius: 4px;
    background-color: var(--section-color);
  }

  & .btn {
    font-size: 15px;
    flex: 1;
  }
}
body.arabic .answer-container .answer-text > div {
  right: auto;
  left: 10px;
}
.answer-container article.delete:hover {
  background: #ff000021;
  & span {
    color: red;
  }
}
.answer-container article.update:hover {
  background: rgba(0, 0, 255, 13%);
  & span {
    color: blue;
  }
}
@media (max-width: 700px) {
  form.dashboard-form > div.form > div.question-list-container {
    & button {
      height: 35px;
      & p {
        display: none;
      }
    }
  }
  form .question-list {
    max-height: 40px;
    & > div {
      font-size: 17px;
      height: 40px;
      & i {
        font-size: 13px;
      }
    }
    & article {
      & > p {
        font-size: 14px;
      }
      & table {
        & thead th {
          font-size: 14px;
        }
        & td {
          max-width: 150px;
          font-size: 13px;
        }
      }
    }
  }
  form.dashboard-form > div.form > div.question-btns {
    flex-wrap: wrap;
    & button {
      font-size: 14px;
    }
    & i {
      font-size: 12px;
    }
  }
  .gap-20:has(.answers) {
    gap: 10px;
  }
  .answers {
    gap: 10px;
    & > h1 {
      font-size: 25px;
    }
  }
  .answer-container {
    & .inp {
      font-size: 16px;
    }
    & .btn {
      font-size: 13px;
    }
  }
}
@media (max-width: 500px) {
  form .question-list {
    max-height: 35px;
    & > div {
      font-size: 15px;
      height: 35px;
      & i {
        font-size: 12px;
      }
    }
    & article {
      & > p {
        font-size: 12px;
      }
      & table {
        & thead th {
          font-size: 13px;
        }
        & td {
          max-width: 100px;
          font-size: 12px;
        }
      }
    }
  }

  form.dashboard-form > div.form > div.question-btns {
    & button {
      font-size: 11px;
      & i {
        font-size: 10px;
      }
    }
  }
  .answers {
    gap: 5px;
    & > h1 {
      font-size: 20px;
    }
  }
  .answer-container {
    & .inp {
      font-size: 14px;
    }
    & .btn {
      font-size: 11px;
    }
  }
}
