.auth-overlay {
  width: 100%;
  height: 100%;
  background-color: #00000095;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 40;
  position: fixed;
  padding: 20px;
  backdrop-filter: blur(10px);
}

.auth-loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  position: relative;
  color: #fff;
  left: -100px;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 #ffffff00, 0px 0 #ffffff00, 0px 0 #ffffff00,
      0px 0 #ffffff00;
  }
  12% {
    box-shadow: 100px 0 white, 0px 0 #ffffff00, 0px 0 #ffffff00, 0px 0 #ffffff00;
  }
  25% {
    box-shadow: 110px 0 white, 100px 0 white, 0px 0 #ffffff00, 0px 0 #ffffff00;
  }
  36% {
    box-shadow: 120px 0 white, 110px 0 white, 100px 0 white, 0px 0 #ffffff00;
  }
  50% {
    box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
  }
  62% {
    box-shadow: 200px 0 #ffffff00, 130px 0 white, 120px 0 white, 110px 0 white;
  }
  75% {
    box-shadow: 200px 0 #ffffff00, 200px 0 #ffffff00, 130px 0 white,
      120px 0 white;
  }
  87% {
    box-shadow: 200px 0 #ffffff00, 200px 0 #ffffff00, 200px 0 #ffffff00,
      130px 0 white;
  }
  100% {
    box-shadow: 200px 0 #ffffff00, 200px 0 #ffffff00, 200px 0 #ffffff00,
      200px 0 #ffffff00;
  }
}
