.overlay form.backup input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background: var(--body-color);
  min-width: 300px;
  font-size: 17px;
}
.overlay form.backup button {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay .warning > i {
  color: red;
  font-size: 80px;
}
.overlay .warning span {
  color: red;
  font-weight: bold;
}
@media (max-width: 800px) {
  .overlay > div > P.font-color {
    font-size: 14px;
  }
  .overlay form.backup input {
    padding: 8px;
    min-width: auto;
    font-size: 15px;
  }
  .overlay form.backup button {
    padding: 8px;
    font-size: 15px;
  }
  .overlay .warning > i {
    font-size: 60px;
  }
  .create-backup {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .overlay > div > P.font-color {
    font-size: 11px;
  }
  .overlay form.backup input,
  .overlay form.backup button {
    padding: 7px;
    font-size: 13px;
  }
  .overlay .warning > i {
    color: red;
    font-size: 40px;
  }
  .create-backup {
    font-size: 9px;
  }
}
