.table-search input {
  flex: 1 1;
  padding: 8px;
  background: var(--body-color);
  border: solid 1px var(--border-color);
  border-radius: 4px;
  font-size: 15px;
  box-shadow: var(--box-shadow);
  color: var(--font-color);
  caret-color: var(--main-color);
}

.table-search .filter {
  color: var(--font-color);
  font-size: 17px;
  cursor: pointer;
}

.overlay .filters {
  width: 70%;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  min-height: 200px;
  align-items: flex-start;
}
.overlay .filters .select div {
  padding: 5px;
  background-color: var(--aside-color);
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--font-color);
}
.overlay .filters .select div i {
  font-size: 13px;
}
.overlay .filters .select div.active + article {
  max-height: 200px;
  overflow: auto;
}
.overlay .filters .select article {
  background: var(--section-color);
  max-height: 0px;
  overflow: hidden;
  margin-top: 2px;
}
.overlay .filters .select article h2 {
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  color: var(--font-color);
  text-align: center;
  text-transform: capitalize;
}
.overlay .filters .select article p {
  padding: 5px;
  font-size: 16px;
  color: var(--font-color);
  text-transform: capitalize;
  text-align: center;
}
.overlay .filters .select article h2:not(:last-of-type) {
  border-bottom: solid 1px var(--body-color);
}
.overlay .filters .select article h2:hover {
  background-color: var(--body-color);
}

input.fltr-search {
  width: 100%;
  font-size: 15px;
  padding: 5px;
  caret-color: var(--main-color);
  background: var(--body-color);
  border: solid 2px var(--border-color);
  position: sticky;
  top: 0;
}

div.table {
  overflow-x: auto;
  max-width: 100%;
  min-width: 600px;
  overflow-y: hidden;
  white-space: nowrap;
}

div.table table {
  border-spacing: 0px;
  margin: 15px 0 5px;
  width: 100%;
}
div.addresses div.table table {
  margin: 0;
}

div.table table.loading {
  min-height: 150px;
}

div.table thead {
  background-color: #12264f;
}
div.table thead th {
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  font-size: 19px;
  color: white;
  padding: 10px;
}

table .checkbox {
  position: relative;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  background-color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
  border: solid 1px var(--border-color);
}
table .checkbox.active {
  border: solid 1px transparent;
  background-color: transparent;
}
table .checkbox::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(16, 228, 16, 0.705);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: scale(0);
  transition: 0.4s;
}
table .checkbox.active::before {
  opacity: 1;
  transform: scale(1);
}

table .checkbox::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  font-weight: bold;
  rotate: 280deg;
  opacity: 0;
  transition: 0.4s;
}
table .checkbox.active::after {
  rotate: 0deg;
  transition: 0.4s;
  opacity: 1;
}
table .photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
table i.photo {
  background-color: var(--body-color);
  font-size: 13px;
  background-color: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  box-shadow: var(--box-shadow);
}
table .table-loading {
  position: absolute;
  background: var(--body-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 1px;
  color: var(--font-color);
}
tbody tr:nth-child(odd) {
  background-color: var(--body-color);
}
tbody tr:nth-child(even) {
  background-color: var(--border-color);
}
tbody td {
  padding: 10px;
  text-align: center;
  color: var(--font-color);
  font-size: 18px;
  position: relative;
}

.pagination {
  margin-top: 10px;
  gap: 10px;
}
.pagination h3 {
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: solid 1px var(--font-color);
  cursor: pointer;
}
.pagination h3.active,
.pagination h3:hover {
  border: solid 1px transparent;
  background-color: var(--main-color);
  color: white;
}
table a.name {
  color: var(--font-color);
}
table a.name:hover {
  text-decoration: underline;
}
div.table tbody td i.options {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
}

div.table tbody td div.options {
  position: absolute;
  width: 150px;
  background: var(--body-color);
  box-shadow: var(--box-shadow);
  left: calc(-100% - 90px);
  padding: 8px;
  top: 100%;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}
body.arabic div.table tbody td div.options {
  right: -115px;
}

div.table tbody td i.options.active-div + div {
  top: 80%;
  z-index: 1;
  opacity: 1;
  pointer-events: all;
}

div.table tbody td div.options div.delete {
  gap: 10px;
  color: var(--font-color);
  padding: 10px;
  text-transform: capitalize;
  cursor: pointer;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}
div.table tbody td div.options .update {
  font-weight: 500;
  gap: 10px;
  color: var(--font-color);
  padding: 10px;
  text-transform: capitalize;
  cursor: pointer;
  align-items: center;
  font-size: 16px;
}
div.table tbody td div.options .visit {
  font-weight: 500;
  gap: 10px;
  color: var(--font-color);
  padding: 10px;
  text-transform: capitalize;
  cursor: pointer;
  align-items: center;
  font-size: 16px;
}
div.table tbody td div.options div.delete:hover {
  background-color: #ce06061c;
}
div.table tbody td div.options .update:hover {
  background-color: #0011ff1f;
}
div.table tbody td div.options .visit:hover {
  background-color: #0e9e3225;
}
div.table tbody td div.options div.delete i {
  color: #ce0606;
  font-size: 16px;
}
div.table tbody td div.options .update i {
  color: #4400ff;
  font-size: 16px;
}
div.table tbody td div.options .visit i {
  color: #0e9e32;
  font-size: 16px;
}
.delete-all {
  background-color: #ce0606;
  width: fit-content;
  padding: 10px;
  color: white;
  border-radius: 4px;
  margin: 10px 0;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 17px;
}
.delete-all i {
  font-size: 14px;
}

div.table div.actions i {
  cursor: pointer;
  font-size: 18px;
}
div.table div.actions i.delete {
  color: #ce0606;
}
div.table div.actions i.update {
  color: #4400ff;
}
